@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To SharpCode</h1>
    <p>Learn about web development and building Web apps with ASP.NET Core</a>.</p>
</div>
